<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>WEATHER FORECAST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/formstyle.css">  
    <style>
    
    </style>
    
</head>
<body>
    

    <div id="create">
        <div id="inside">
    <form action ="/getWeather" method="post" style="text-align: center;">
        <input type="text" placeholder="choose the city name" name="city" required><br>       
        <input type="submit" value="submit" class="button">
        </div>

       </form>
    </div>
    <p class="blink" style="text-align:center">Type the city and get the weather</style></p>
</html>